{% extends "base-login.html" %}
{% load static %}

{% block content %}

<div class="background-decor">
    <div class="ring ring-1"></div>
    <div class="ring ring-2"></div>
</div>

<div class="main-wrapper">

    <!-- HEADER -->
    <header class="header-brand">

        <div class="logo-wrap">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </div>

        <h1 class="brand-name">CHICHA BARBER</h1>
        <span class="brand-sub">Studio · Nobsa</span>

    </header>

    <!-- MENSAJE -->
    <main class="form-box">

        <!-- ICONO -->
        <div class="success-icon">
            ✔
        </div>

        <!-- TÍTULO -->
        <h2 class="form-heading">
            ¡Correo Enviado!
        </h2>

        <!-- TEXTO -->
        <p class="form-sub">
            Si el correo existe en nuestra base de datos,
            recibirás un enlace para restablecer tu contraseña
            en unos minutos.
        </p>

        <!-- BOTÓN -->
        <a href="{% url 'login' %}" class="btn-auth">
            VOLVER AL LOGIN
        </a>

    </main>

</div>

{% endblock content %}