{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éxito</title>

    <!-- SOLO STATIC CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="background-decor">
    <div class="ring ring-1"></div>
    <div class="ring ring-2"></div>
</div>

<div class="main-wrapper">

    <!-- HEADER -->
    <header class="header-brand">
        <div class="logo-wrap">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </div>
        <h1 class="brand-name">CHICHA BARBER</h1>
        <span class="brand-sub">Studio · Nobsa</span>
    </header>

    <!-- CAJA -->
    <main class="form-box text-center">

        <!-- ICONO -->
        <div class="success-icon">
            ✓
        </div>

        <h2 class="form-heading">¡Cambio Exitoso!</h2>

        <p class="form-sub">
            Tu contraseña ha sido actualizada correctamente.<br>
            Ahora puedes iniciar sesión con tus nuevos datos.
        </p>

        <a href="{% url 'login' %}" class="btn-auth">
            INICIAR SESIÓN
        </a>

    </main>

</div>

</body>
</html>