{% extends "base-clientes.html" %}
{% load static %}



{% block content %}

        <main class="p-4 w-75 m-auto">
       
           
            <div class="p-5 mb-4 bg-body-tertiary rounded-3 opacity-75">
        
            <div class="container-fluid py-1">
                <h1 class="display-5 fw-bold">Nuestras Promociones</h1> 
            
                   
            </div>
       
            
     </div>
        {% comment %} Tarjetas {% endcomment %}
        <section class="layout d-flex flex-wrap justify-content-around">

             {% for promocion in promociones %}
            <div class="card mb-4" style="width: 18rem; ">
                <img src="{% static 'img/promocion/promocion_1.jpg' %}" class="img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ promocion.nombre }}</h5>
                    <p class="card-text">{{ promocion.descripcion }}</p>    
                    <p class="card-text">Precio: ${{ promocion.precio }}</p>
                    <a class="btn btn-primary" href="#" role="button">Seleccionar</a>
                </div>
            </div>
            
           
               
            {% endfor %}
            

            </div>
</main>
{% endblock %}
