{% load static %}
<header>
<nav class="navbar bg-body-tertiary border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand text-body" href="#">
      <img src="{% static 'img/logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      {{titulo|default:"Chicha Barber Studio"}}
    </a>
    <div class="d-flex align-items-center">
      <a class="nav-link text-dark" href="#">
        <i ></i>
      </a>

      <!-- Botón hamburguesa que abre el offcanvas -->
      <button class="navbar-toggler border-0 shadow-none" type="button" 
              data-bs-toggle="offcanvas" 
              data-bs-target="#menuPremium" 
              aria-controls="menuPremium">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
</header>