{%extends "base-admin.html"%}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center color-azul">
                <h5 class="mb-0">Editar Imagen de Carrusel</h5>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_nombre" class="form-label">Nombre</label>
                        {{ form.nombre }}
                    </div>
                    <div class="mb-3">
                        <label for="id_texto" class="form-label">Texto</label>
                        {{ form.texto }}
                    </div>
                    <div class="mb-3">  
                        <label for="id_imagen" class="form-label">Imagen</label>
                        {{ form.imagen }}
                        {% if form.instance.imagen %}
                            <div class="mt-2">
                                <img src="{{ form.instance.imagen.url }}" alt="{{ form.instance.nombre }}" class="img-thumbnail rounded configuraciones-editar-carrusel__img-1">
                            </div>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'carrusel' %}" class="btn btn-secondary">
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            Guardar Cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}