{% extends "base-admin.html" %}
{% load static %}

{% block content %}

    
    <div class="container mt-5 ">
      <div class="card shadow">
          <div  class="card-header bg-primary text-white d-flex justify-content-between color-azul">
              <h5 class="mb-0 ">Gestión de promociones</h5>
              <button class="btn btn-outline-light" onclick="window.location.href='{% url 'crear_promocion' %}'">+ Nueva Promoción</button>
          </div>
          <div class="card-body">
              <table class="table table-hover">
                  <thead class="table-light">
                      <tr>
                          <th>ID</th>
                          <th>Imagen</th>
                          <th>Promoción</th>
                          <th>Estado</th>   
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    
                    {% for promocion in promociones %} <tr>
                          <td>#{{ promocion.pk }}</td> 
                          <td>
                              {% if promocion.imagen %}
                                  <img src="{{ promocion.imagen.url }}" alt="{{ promocion.nombre }}" class="img-thumbnail rounded" style="width: 60px; height: 60px; object-fit: cover;">
                              {% else %}
                                  <img src="{% static 'img/Fondo.png' %}" alt="Sin imagen" class="img-thumbnail rounded" style="width: 60px; height: 60px; object-fit: cover;">
                              {% endif %}
                          </td>
                          <td><strong>{{ promocion.nombre }}</strong></td> <td>
                              {% if promocion.estado %} <span class="btn btn-sm btn-success">Activo</span>
                              {% else %}
                                <span class="btn btn-sm btn-danger">Inactivo</span>
                              {% endif %}
                          </td>
                          <td>
                              <button class="btn btn-sm btn-outline-info" onclick="window.location.href='{% url 'editar-promocion' promocion.pk %}'">Editar</button>
                              <button class="btn btn-sm btn-outline-danger" onclick="window.location.href='{% url 'eliminar-promocion' promocion.pk %}'">Eliminar</button>
                          </td>
                      </tr>
                      {% empty %} <tr>
                          <td colspan="5" class="text-center">No hay promociones registradas.</td>
                      </tr>
                      {% endfor %} </tbody>
              </table>
          </div>
      </div>
    </div>
  </main>
{% endblock %}
                      
  