{% extends "base-clientes.html" %}
{% load static %}

{% block content %}

 <div class="container">
        
        <div class="text-center mb-5">
            <h1 class="text-light fw-bold fs-1 mb-4 w-75 mx-auto h-100 text-white text-uppercase">Nuestras Promociones</h1>
            <p class="fs-4 text-body-secondary text-light">Descubre nuestras ofertas especiales y ahorra en tus servicios preferidos.</p>
            <hr class="w-25 mx-auto text-body opacity-50">
        </div>

</div>
    

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 bg-transparent p-4 rounded-3 shadow-sm">


            {% for promocion in promociones %}
            <div class="col d-flex justify-content-center">
                <div class="card h-100 shadow-sm border-0 w-75 rounded-4" >
                    {% if promocion.imagen %}
                        <img src="{{ promocion.imagen.url }}" alt="{{ promocion.nombre }}" class="card-img-top rounded-4" style="height: 200px; object-fit: cover;">
                    {% else %}
                        <!-- Imagen por defecto si no hay imagen de servicio, usa 'img/Fondo.png' como sugeriste -->
                        <img src="{% static 'img/Fondo.png' %}" alt="Servicio sin imagen" class="card-img-top rounded-4" style="height: 200px; object-fit: cover;">
                    {% endif %}


                    <div class="card-body rounded-4 d-flex flex-column bg-body-tertiary">
                        <h5 class="card-title text-center fw-bold text-body">{{ promocion.nombre }}</h5>
                        <hr>
                        <p class="card-text text-body-secondary small">{{ promocion.descripcion }}</p>
                        
                        <div class="mt-auto">
                            <p class="mb-1"><strong> Duración:</strong> {{ promocion.duracion }}</p>
                            <p class="card-text text-primary fw-bold"><strong>Descuento:</strong> {{ promocion.porcentaje_descuento|floatformat:"0" }}%</p>
                            
                            <a class="btn btn-cyan fw-bold text-black w-100 mt-2 #22aed1" 
                               href="{% url 'crear_reserva_promocion' promocion.id %}"
                               onclick="return gestionarSeleccion(event)">
                                Reservar ahora
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>

    </section>
</main>

<script>
function gestionarSeleccion(event, urlOriginal) {
    var estaAutenticado = {{ user.is_authenticated|yesno:"true,false" }};
    if (!estaAutenticado) {
        event.preventDefault();
        alert("🎁 ¡Atención! Debes iniciar sesión para acceder a nuestras promociones.");
        window.location.href = "{% url 'login' %}?next=" + encodeURIComponent(window.location.pathname);
        return false;
    }
    return true;
}
</script>
{% endblock %}